[data-theme="value"] {
  /* color */
  ---: rgb(0 0 0 / 0);
  --color-black: rgb(0 0 0);
  --color-transparent: rgb(0 0 0 / 0);
  --color-white: rgb(255 255 255);
  --color-alpa-error-100: rgb(255 94 58);
  --color-alpa-error-100-10: rgb(255 94 58 / 0.1);
  --color-alpa-error-100-40: rgb(255 94 58 / 0.4);
  --color-alpa-error-100-80: rgb(255 94 58 / 0.8);
  --color-alpa-neutral-100: rgb(182 189 204);
  --color-alpa-neutral-100-10: rgb(182 189 204 / 0.1);
  --color-alpa-neutral-100-40: rgb(182 189 204 / 0.4);
  --color-alpa-neutral-100-80: rgb(182 189 204 / 0.8);
  --color-alpa-neutral-200: rgb(89 96 112);
  --color-alpa-neutral-200-10: rgb(89 96 112 / 0.1);
  --color-alpa-neutral-200-40: rgb(89 96 112 / 0.4);
  --color-alpa-neutral-200-80: rgb(89 96 112 / 0.8);
  --color-alpa-neutral-300: rgb(47 54 69);
  --color-alpa-neutral-300-10: rgb(47 54 69 / 0.1);
  --color-alpa-neutral-300-40: rgb(47 54 69 / 0.4);
  --color-alpa-neutral-300-80: rgb(47 54 69 / 0.8);
  --color-alpa-neutral-400: rgb(38 42 52);
  --color-alpa-neutral-400-10: rgb(38 42 52 / 0.1);
  --color-alpa-neutral-400-40: rgb(38 42 52 / 0.4);
  --color-alpa-neutral-400-80: rgb(38 42 52 / 0.8);
  --color-alpa-neutral-50: rgb(232 236 242);
  --color-alpa-neutral-50-10: rgb(232 236 242 / 0.1);
  --color-alpa-neutral-50-40: rgb(232 236 242 / 0.4);
  --color-alpa-neutral-50-80: rgb(232 236 242 / 0.8);
  --color-alpa-neutral-500: rgb(0 10 18);
  --color-alpa-neutral-500-10: rgb(0 10 18 / 0.1);
  --color-alpa-neutral-500-40: rgb(0 10 18 / 0.4);
  --color-alpa-neutral-500-80: rgb(0 10 18 / 0.8);
  --color-alpa-primary-100: rgb(255 255 123);
  --color-alpa-primary-100-10: rgb(255 255 123 / 0.1);
  --color-alpa-primary-100-40: rgb(255 255 123 / 0.4);
  --color-alpa-primary-100-80: rgb(255 255 123 / 0.8);
  --color-alpa-primary-200: rgb(255 209 73);
  --color-alpa-primary-200-10: rgb(255 209 73 / 0.1);
  --color-alpa-primary-200-40: rgb(255 209 73 / 0.4);
  --color-alpa-primary-200-80: rgb(255 209 73 / 0.8);
  --color-alpa-primary-300: rgb(253 216 53);
  --color-alpa-primary-300-10: rgb(253 216 53 / 0.1);
  --color-alpa-primary-300-40: rgb(253 216 53 / 0.4);
  --color-alpa-primary-300-80: rgb(253 216 53 / 0.8);
  --color-alpa-primary-400: rgb(255 160 0);
  --color-alpa-primary-400-10: rgb(255 160 0 / 0.1);
  --color-alpa-primary-400-40: rgb(255 160 0 / 0.4);
  --color-alpa-primary-400-80: rgb(255 160 0 / 0.8);
  --color-alpa-primary-50: rgb(255 255 173);
  --color-alpa-primary-50-10: rgb(255 255 173 / 0.1);
  --color-alpa-primary-50-40: rgb(255 255 173 / 0.4);
  --color-alpa-primary-50-80: rgb(255 255 173 / 0.8);
  --color-alpa-secondary-100: rgb(195 149 255);
  --color-alpa-secondary-100-10: rgb(195 149 255 / 0.1);
  --color-alpa-secondary-100-40: rgb(195 149 255 / 0.4);
  --color-alpa-secondary-100-80: rgb(195 149 255 / 0.8);
  --color-alpa-secondary-200: rgb(161 83 255);
  --color-alpa-secondary-200-10: rgb(161 83 255 / 0.1);
  --color-alpa-secondary-200-40: rgb(161 83 255 / 0.4);
  --color-alpa-secondary-200-80: rgb(161 83 255 / 0.8);
  --color-alpa-secondary-300: rgb(112 59 245);
  --color-alpa-secondary-300-10: rgb(112 59 245 / 0.1);
  --color-alpa-secondary-300-40: rgb(112 59 245 / 0.4);
  --color-alpa-secondary-300-80: rgb(112 59 245 / 0.8);
  --color-alpa-secondary-400: rgb(46 15 108);
  --color-alpa-secondary-400-10: rgb(46 15 108 / 0.1);
  --color-alpa-secondary-400-40: rgb(46 15 108 / 0.4);
  --color-alpa-secondary-400-80: rgb(46 15 108 / 0.8);
  --color-alpa-secondary-50: rgb(230 206 255);
  --color-alpa-secondary-50-10: rgb(230 206 255 / 0.1);
  --color-alpa-secondary-50-40: rgb(230 206 255 / 0.4);
  --color-alpa-secondary-50-80: rgb(230 206 255 / 0.8);
  --color-alpa-success-100: rgb(27 225 118);
  --color-alpa-success-100-10: rgb(27 225 118 / 0.1);
  --color-alpa-success-100-40: rgb(27 225 118 / 0.4);
  --color-alpa-success-100-80: rgb(27 225 118 / 0.8);
  --color-alpa-warning-100: rgb(253 216 53);
  --color-alpa-warning-100-10: rgb(253 216 53 / 0.1);
  --color-alpa-warning-100-40: rgb(253 216 53 / 0.4);
  --color-alpa-warning-100-80: rgb(253 216 53 / 0.8);
  --color-king-error-100: rgb(219 47 0);
  --color-king-error-100-10: rgb(219 47 0 / 0.1);
  --color-king-error-100-40: rgb(219 47 0 / 0.4);
  --color-king-error-100-80: rgb(219 47 0 / 0.8);
  --color-king-neutral-100: rgb(242 242 245);
  --color-king-neutral-200: rgb(212 212 216);
  --color-king-neutral-200-10: rgb(212 212 216 / 0.1);
  --color-king-neutral-200-40: rgb(212 212 216 / 0.4);
  --color-king-neutral-200-80: rgb(212 212 216 / 0.8);
  --color-king-neutral-300: rgb(161 161 170);
  --color-king-neutral-300-10: rgb(161 161 170 / 0.1);
  --color-king-neutral-300-40: rgb(161 161 170 / 0.4);
  --color-king-neutral-300-80: rgb(161 161 170 / 0.8);
  --color-king-neutral-400: rgb(113 113 122);
  --color-king-neutral-400-10: rgb(113 113 122 / 0.1);
  --color-king-neutral-400-40: rgb(113 113 122 / 0.4);
  --color-king-neutral-400-80: rgb(113 113 122 / 0.8);
  --color-king-neutral-50: rgb(248 247 250);
  --color-king-neutral-500: rgb(82 82 91);
  --color-king-neutral-500-10: rgb(82 82 91 / 0.1);
  --color-king-neutral-500-40: rgb(82 82 91 / 0.4);
  --color-king-neutral-500-80: rgb(82 82 91 / 0.8);
  --color-king-neutral-600: rgb(63 63 70);
  --color-king-neutral-600-10: rgb(63 63 70 / 0.1);
  --color-king-neutral-600-40: rgb(63 63 70 / 0.4);
  --color-king-neutral-600-80: rgb(63 63 70 / 0.8);
  --color-king-neutral-700: rgb(39 39 42);
  --color-king-neutral-700-10: rgb(39 39 42 / 0.1);
  --color-king-neutral-700-40: rgb(39 39 42 / 0.4);
  --color-king-neutral-700-80: rgb(39 39 42 / 0.8);
  --color-king-neutral-800: rgb(24 24 27);
  --color-king-neutral-800-10: rgb(24 24 27 / 0.1);
  --color-king-neutral-800-40: rgb(24 24 27 / 0.4);
  --color-king-neutral-800-80: rgb(24 24 27 / 0.8);
  --color-king-primary-100: rgb(201 201 255);
  --color-king-primary-100-40: rgb(201 201 255 / 0.4);
  --color-king-primary-100-80: rgb(201 201 255 / 0.8);
  --color-king-primary-200: rgb(80 80 254);
  --color-king-primary-200-40: rgb(80 80 254 / 0.4);
  --color-king-primary-200-80: rgb(80 80 254 / 0.8);
  --color-king-primary-300: rgb(74 71 234);
  --color-king-primary-300-40: rgb(74 71 234 / 0.4);
  --color-king-primary-300-80: rgb(74 71 234 / 0.8);
  --color-king-primary-400: rgb(0 0 160);
  --color-king-primary-400-40: rgb(0 0 160 / 0.4);
  --color-king-primary-400-80: rgb(0 0 160 / 0.8);
  --color-king-primary-50: rgb(233 234 255);
  --color-king-primary-50-40: rgb(233 234 255 / 0.4);
  --color-king-primary-50-80: rgb(233 234 255 / 0.8);
  --color-king-primary-500: rgb(0 0 118);
  --color-king-primary-500-40: rgb(0 0 118 / 0.4);
  --color-king-primary-500-80: rgb(0 0 118 / 0.8);
  --color-king-secondary-100: rgb(175 246 254);
  --color-king-secondary-100-40: rgb(175 246 254 / 0.4);
  --color-king-secondary-100-80: rgb(175 246 254 / 0.8);
  --color-king-secondary-200: rgb(130 241 253);
  --color-king-secondary-200-40: rgb(130 241 253 / 0.4);
  --color-king-secondary-200-80: rgb(130 241 253 / 0.8);
  --color-king-secondary-300: rgb(94 237 253);
  --color-king-secondary-300-40: rgb(94 237 253 / 0.4);
  --color-king-secondary-300-80: rgb(94 237 253 / 0.8);
  --color-king-secondary-400: rgb(32 230 252);
  --color-king-secondary-400-40: rgb(32 230 252 / 0.4);
  --color-king-secondary-400-80: rgb(32 230 252 / 0.8);
  --color-king-secondary-50: rgb(215 250 254);
  --color-king-secondary-50-40: rgb(215 250 254 / 0.4);
  --color-king-secondary-50-80: rgb(215 250 254 / 0.8);
  --color-king-success-100: rgb(0 182 61);
  --color-king-success-100-10: rgb(0 182 61 / 0.1);
  --color-king-success-100-40: rgb(0 182 61 / 0.4);
  --color-king-success-100-80: rgb(0 182 61 / 0.8);
  --color-king-warning-100: rgb(255 112 73);
  --color-king-warning-100-10: rgb(255 112 73 / 0.1);
  --color-king-warning-100-40: rgb(255 112 73 / 0.4);
  --color-king-warning-100-80: rgb(255 112 73 / 0.8);
  /* number */
  --opacity-15: 0.9375rem;
  --opacity-25: 1.5625rem;
  --opacity-35: 2.1875rem;
  --opacity-45: 2.8125rem;
  --opacity-55: 3.4375rem;
  --opacity-65: 4.0625rem;
  --opacity-75: 4.6875rem;
  --opacity-85: 5.3125rem;
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-full: 624.9375rem;
  --spacing-0: 0rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
}
[data-theme="king"] {
  /* number */
  --text-body-letterspacing: -0.0125rem;
  --text-body-fontsize: 1rem;
  --text-body-lineheight: 1.375rem;
  --text-body-sm-letterspacing: -0.0125rem;
  --text-body-sm-fontsize: 0.875rem;
  --text-body-sm-lineheight: 1.25rem;
  --text-button-caption-letterspacing: -0.025rem;
  --text-button-caption-fontsize: 0.875rem;
  --text-button-caption-fontweight: 400;
  --text-button-label-letterspacing: -0.0063rem;
  --text-button-label-fontweight: 600;
  --text-button-label-lg-fontsize: 1.125rem;
  --text-button-label-md-fontsize: 1rem;
  --text-button-label-sm-fontsize: 0.875rem;
  --text-button-label-xl-fontsize: 1.25rem;
  --text-button-label-xs-fontsize: 0.75rem;
  --text-button-label-xs-lineheight: 0.875rem;
  --text-caption-letterspacing: -0.0125rem;
  --text-caption-fontsize: 0.75rem;
  --text-caption-lineheight: 1rem;
  --text-fontweight-normal: 400;
  --text-fontweight-medium: 600;
  --text-fontweight-bold: 700;
  --text-letterspacing-caps: 0.0562rem;
  --text-paragraphspacing-body: 0.5rem;
  --text-subtitle-letterspacing: -0.0125rem;
  --text-subtitle-fontsize: 1rem;
  --text-subtitle-lineheight: 1.25rem;
  --text-subtitle-fontweight: 700;
  --text-tiny-letterspacing: -0.0125rem;
  --text-tiny-fontsize: 0.625rem;
  --text-tiny-lineheight: 0.625rem;
  --text-title-fontweight: 800;
  /* string */
  --text-fontfamily: Poppins;
}
[data-theme="king-mob"] {
  /* number */
  --text-title-display-letterspacing: -0.0313rem;
  --text-title-display-fontsize: 1.875rem;
  --text-title-display-lineheight: 2.125rem;
  --text-title-lg-letterspacing: -0.0094rem;
  --text-title-lg-fontsize: 1.5rem;
  --text-title-lg-lineheight: 1.75rem;
  --text-title-md-letterspacing: -0.0031rem;
  --text-title-md-fontsize: 1.25rem;
  --text-title-md-lineheight: 1.5rem;
  --text-title-sm-letterspacing: 0rem;
  --text-title-sm-fontsize: 1.125rem;
  --text-title-sm-lineheight: 1.375rem;
}
[data-theme="king-desk"] {
  /* number */
  --text-title-display-letterspacing: -0.0425rem;
  --text-title-display-fontsize: 2.25rem;
  --text-title-display-lineheight: 2.5rem;
  --text-title-lg-letterspacing: -0.012rem;
  --text-title-lg-fontsize: 1.6875rem;
  --text-title-lg-lineheight: 2rem;
  --text-title-md-letterspacing: -0.0052rem;
  --text-title-md-fontsize: 1.375rem;
  --text-title-md-lineheight: 1.75rem;
  --text-title-sm-letterspacing: 0rem;
  --text-title-sm-fontsize: 1.1875rem;
  --text-title-sm-lineheight: 1.375rem;
}
[data-theme="king"] {
  /* number */
  --component-button-gap-action-sm: 0.375rem;
  --component-button-gap-caption-sm: 0.125rem;
  --component-button-gap-caption-lg: 0.25rem;
  --component-button-gap-caption-md: 0.25rem;
  --component-button-gap-slab-sm: 0.25rem;
  --component-button-gap-standard-md: 0.25rem;
  --component-button-gap-standard-sm: 0.25rem;
  --component-button-gap-standard-lg: 0.5rem;
  --component-button-height-action-sm: 3rem;
  --component-button-height-caption-sm: 3rem;
  --component-button-height-caption-md: 3.5rem;
  --component-button-height-caption-lg: 4rem;
  --component-button-height-slab-sm: 3.5rem;
  --component-button-height-standard-sm: 2rem;
  --component-button-height-standard-md: 2.5rem;
  --component-button-height-standard-lg: 3rem;
  --component-button-padding-x-caption-sm: 1rem;
  --component-button-padding-x-caption-lg: 1.5rem;
  --component-button-padding-x-caption-md: 1.5rem;
  --component-button-padding-x-slab-sm: 1rem;
  --component-button-padding-x-standard-md: 0.5rem;
  --component-button-padding-x-standard-sm: 0.5rem;
  --component-button-padding-x-standard-lg: 0.875rem;
  --component-button-padding-y-caption-lg: 0.25rem;
  --component-button-padding-y-caption-md: 0.25rem;
  --component-button-padding-y-caption-sm: 0.25rem;
  --component-button-padding-y-slab-sm: 0.25rem;
  --component-button-padding-y-standard-sm: 0.25rem;
  --component-button-padding-y-standard-md: 0.5rem;
  --component-button-padding-y-standard-lg: 0.75rem;
}
[data-theme="king"] {
  /* color */
  --bg-deep: var(--color-king-neutral-50);
  --bg-surface: var(--color-white);
  --bg-surface-alt: var(--color-king-neutral-200-40);
  --component-accordion-bg: var(--color-white);
  --component-accordion-bordercolor: var(--color-king-neutral-800-10);
  --component-accordion-faq-bg: var(--color-king-neutral-100);
  --component-accordion-faq-bordercolor: var(--color-king-neutral-800-10);
  --component-accordion-fg-primary: var(--fg-primary);
  --component-accordion-fg-secondary: var(--fg-secondary);
  --component-badge-brand-bg: var(--fg-brand);
  --component-badge-brand-fg: var(--color-white);
  --component-badge-navigation-fg: var(--color-white);
  --component-badge-navigation-bg-default: var(--color-king-primary-300);
  --component-badge-navigation-bg-new: var(--color-king-error-100);
  --component-badge-neutral-bg: var(--color-king-neutral-100);
  --component-badge-neutral-fg: var(--color-king-neutral-800);
  --component-badge-neutral-error-fg: var(--color-king-error-100);
  --component-badge-status-fg: var(--color-king-neutral-800);
  --component-badge-status-bg-error: var(--color-king-error-100-80);
  --component-badge-status-bg-success: var(--color-king-success-100-80);
  --component-badge-status-bg-warning: var(--color-king-warning-100-80);
  --component-badge-timer-fg: var(--color-king-neutral-50);
  --component-badge-timer-filled-bg: var(--color-king-neutral-100);
  --component-badge-timer-filled-fg: var(--color-king-neutral-800);
  --component-button-label: var(--color-king-neutral-800);
  --component-button-destructive-default-bg: var(--color-king-error-100);
  --component-button-destructive-default-fg: var(--color-white);
  --component-button-destructive-hover-bg: var(--color-king-error-100-80);
  --component-button-destructive-hover-fg: var(--color-king-neutral-50);
  --component-button-destructive-pressed-bg: var(--color-king-error-100);
  --component-button-destructive-pressed-fg: var(--color-king-neutral-50);
  --component-button-ghost-default-bg: var(--color-transparent);
  --component-button-ghost-default-fg: var(--color-king-neutral-600);
  --component-button-ghost-hover-bg: var(--color-king-neutral-800-10);
  --component-button-ghost-hover-fg: var(--color-king-neutral-700);
  --component-button-ghost-pressed-bg: var(--color-king-neutral-200-80);
  --component-button-ghost-pressed-fg: var(--color-king-neutral-700);
  --component-button-primary-default-bg: var(--color-king-primary-300);
  --component-button-primary-default-fg: var(--color-white);
  --component-button-primary-hover-bg: var(--color-king-primary-200);
  --component-button-primary-hover-fg: var(--color-king-primary-50);
  --component-button-primary-pressed-bg: var(--color-king-primary-400);
  --component-button-primary-pressed-fg: var(--color-king-primary-50);
  --component-button-secondary-default-bg: var(--color-king-primary-50-40);
  --component-button-secondary-default-bordercolor: var(--color-king-primary-200-40);
  --component-button-secondary-default-fg: var(--color-king-primary-300);
  --component-button-secondary-hover-bg: var(--color-king-primary-50-40);
  --component-button-secondary-hover-bordercolor: var(--color-king-primary-200);
  --component-button-secondary-hover-fg: var(--color-king-primary-300);
  --component-button-secondary-pressed-bg: var(--color-king-primary-100-40);
  --component-button-secondary-pressed-bordercolor: var(--color-king-primary-300);
  --component-button-secondary-pressed-fg: var(--color-king-primary-300);
  --component-button-tertiary-default-bg: var(--color-king-neutral-800-10);
  --component-button-tertiary-default-fg: var(--color-king-neutral-600);
  --component-button-tertiary-hover-bg: var(--color-king-neutral-200-80);
  --component-button-tertiary-hover-fg: var(--color-king-neutral-700);
  --component-button-tertiary-pressed-bg: var(--color-king-neutral-300-40);
  --component-button-tertiary-pressed-fg: var(--color-king-neutral-700);
  --component-chip-default-bg: var(--color-king-neutral-500-10);
  --component-chip-default-bordercolor: var(--color-transparent);
  --component-chip-default-fg: var(--color-king-neutral-500);
  --component-chip-hover-bg: var(--color-king-secondary-200-80);
  --component-chip-hover-fg: var(--color-king-neutral-500);
  --component-chip-selected-bg: var(--color-king-secondary-300);
  --component-chip-selected-fg: var(--color-king-neutral-600);
  --component-control-default: var(--color-king-neutral-400);
  --component-control-error: var(--fg-status-error);
  --component-control-selected: var(--color-king-primary-300);
  --component-control-segment-default-bg: var(--color-king-neutral-200-40);
  --component-control-segment-default-fg: var(--color-king-neutral-400);
  --component-control-segment-selected-bg: var(--color-white);
  --component-control-segment-selected-fg: var(--color-king-neutral-800);
  --component-input-bg: var(--color-white);
  --component-input-bordercolor: var(--color-king-primary-200-40);
  --component-input-icon: var(--color-king-neutral-400);
  --component-input-label: var(--color-king-neutral-400);
  --component-input-message: var(--color-king-neutral-400);
  --component-input-placeholder: var(--color-king-neutral-300);
  --component-input-value: var(--color-king-neutral-600);
  --component-input-error-bordercolor: var(--color-king-error-100);
  --component-input-error-label: var(--color-king-error-100);
  --component-input-error-message: var(--color-king-error-100);
  --component-input-focus-bordercolor: var(--color-king-primary-300);
  --component-input-focus-label: var(--color-king-primary-300);
  --component-input-hover-bordercolor: var(--color-king-primary-200);
  --component-input-list-bg: var(--color-white);
  --component-input-list-hover: var(--color-king-neutral-100);
  --component-input-list-icon: var(--color-king-neutral-400);
  --component-input-list-selected: var(--color-king-neutral-200-40);
  --component-input-list-select-text-default: var(--color-king-neutral-500);
  --component-input-list-select-text-secondary: var(--color-king-neutral-400);
  --component-input-list-select-text-selected: var(--color-king-neutral-800);
  --component-input-list-suggest-text-default: var(--color-king-neutral-600);
  --component-input-list-suggest-text-secondary: var(--color-king-neutral-300);
  --component-progress-bg: var(--color-king-neutral-800-10);
  --component-progress-brand: var(--color-king-primary-300);
  --component-progress-default: var(--color-king-success-100);
  --component-progress-fg-primary: var(--fg-primary);
  --component-progress-fg-secondary: var(--fg-secondary);
  --component-tab-default-fg: var(--color-king-neutral-500);
  --component-tab-hover-bg: var(--color-king-neutral-400-10);
  --component-tab-hover-fg: var(--color-king-neutral-500);
  --component-tab-selected-bg: var(--color-king-neutral-700-10);
  --component-tab-selected-fg: var(--color-king-neutral-800);
  --component-tooltip-bg: var(--color-king-secondary-300);
  --component-tooltip-fg: var(--fg-primary);
  --fg-brand: var(--color-king-primary-300);
  --fg-pending: var(--color-king-warning-100);
  --fg-primary: var(--color-king-neutral-800);
  --fg-secondary: var(--color-king-neutral-500);
  --fg-effect-shadow-cashboxamount: var(--color-king-neutral-600-80);
  --fg-effect-shadow-default: var(--color-king-neutral-600-10);
  --fg-effect-shadow-menu-bottom: var(--color-king-neutral-800-10);
  --fg-link-default: var(--color-king-primary-300);
  --fg-link-hover: var(--color-king-primary-400);
  --fg-link-underline-default: var(--color-king-primary-300-40);
  --fg-link-underline-hover: var(--color-king-primary-400);
  --fg-status-error: var(--color-king-error-100);
  --fg-status-success: var(--color-king-success-100);
  --fg-status-warning: var(--color-king-warning-100);
  /* number */
  --radius-tab: var(--radius-8);
  --radius-tooltip: var(--radius-8);
  --radius-accordion: var(--radius-12);
  --radius-chip: var(--radius-12);
  --radius-list: var(--radius-12);
  --radius-badge: var(--radius-full);
  --radius-progress: var(--radius-full);
  --radius-button-sm: var(--radius-8);
  --radius-button-md: var(--radius-12);
  --radius-button-lg: var(--radius-16);
  --radius-input-sm: var(--radius-8);
  --radius-input-default: var(--radius-12);
  --radius-segment-fg: var(--radius-4);
  --radius-segment-bg: var(--radius-8);
}