[data-theme="value"] {
  /* color */
  ---: #00000000;
  --color-black: #000000;
  --color-transparent: #00000000;
  --color-white: #ffffff;
  --color-alpa-error-100: #ff5e3a;
  --color-alpa-error-100-10: #ff5e3a1a;
  --color-alpa-error-100-40: #ff5e3a66;
  --color-alpa-error-100-80: #ff5e3acc;
  --color-alpa-neutral-100: #b6bdcc;
  --color-alpa-neutral-100-10: #b6bdcc1a;
  --color-alpa-neutral-100-40: #b6bdcc66;
  --color-alpa-neutral-100-80: #b6bdcccc;
  --color-alpa-neutral-200: #596070;
  --color-alpa-neutral-200-10: #5960701a;
  --color-alpa-neutral-200-40: #59607066;
  --color-alpa-neutral-200-80: #596070cc;
  --color-alpa-neutral-300: #2f3645;
  --color-alpa-neutral-300-10: #2f36451a;
  --color-alpa-neutral-300-40: #2f364566;
  --color-alpa-neutral-300-80: #2f3645cc;
  --color-alpa-neutral-400: #262a34;
  --color-alpa-neutral-400-10: #262a341a;
  --color-alpa-neutral-400-40: #262a3466;
  --color-alpa-neutral-400-80: #262a34cc;
  --color-alpa-neutral-50: #e8ecf2;
  --color-alpa-neutral-50-10: #e8ecf21a;
  --color-alpa-neutral-50-40: #e8ecf266;
  --color-alpa-neutral-50-80: #e8ecf2cc;
  --color-alpa-neutral-500: #000a12;
  --color-alpa-neutral-500-10: #000a121a;
  --color-alpa-neutral-500-40: #000a1266;
  --color-alpa-neutral-500-80: #000a12cc;
  --color-alpa-primary-100: #ffff7b;
  --color-alpa-primary-100-10: #ffff7b1a;
  --color-alpa-primary-100-40: #ffff7b66;
  --color-alpa-primary-100-80: #ffff7bcc;
  --color-alpa-primary-200: #ffd149;
  --color-alpa-primary-200-10: #ffd1491a;
  --color-alpa-primary-200-40: #ffd14966;
  --color-alpa-primary-200-80: #ffd149cc;
  --color-alpa-primary-300: #fdd835;
  --color-alpa-primary-300-10: #fdd8351a;
  --color-alpa-primary-300-40: #fdd83566;
  --color-alpa-primary-300-80: #fdd835cc;
  --color-alpa-primary-400: #ffa000;
  --color-alpa-primary-400-10: #ffa0001a;
  --color-alpa-primary-400-40: #ffa00066;
  --color-alpa-primary-400-80: #ffa000cc;
  --color-alpa-primary-50: #ffffad;
  --color-alpa-primary-50-10: #ffffad1a;
  --color-alpa-primary-50-40: #ffffad66;
  --color-alpa-primary-50-80: #ffffadcc;
  --color-alpa-secondary-100: #c395ff;
  --color-alpa-secondary-100-10: #c395ff1a;
  --color-alpa-secondary-100-40: #c395ff66;
  --color-alpa-secondary-100-80: #c395ffcc;
  --color-alpa-secondary-200: #a153ff;
  --color-alpa-secondary-200-10: #a153ff1a;
  --color-alpa-secondary-200-40: #a153ff66;
  --color-alpa-secondary-200-80: #a153ffcc;
  --color-alpa-secondary-300: #703bf5;
  --color-alpa-secondary-300-10: #703bf51a;
  --color-alpa-secondary-300-40: #703bf566;
  --color-alpa-secondary-300-80: #703bf5cc;
  --color-alpa-secondary-400: #2e0f6c;
  --color-alpa-secondary-400-10: #2e0f6c1a;
  --color-alpa-secondary-400-40: #2e0f6c66;
  --color-alpa-secondary-400-80: #2e0f6ccc;
  --color-alpa-secondary-50: #e6ceff;
  --color-alpa-secondary-50-10: #e6ceff1a;
  --color-alpa-secondary-50-40: #e6ceff66;
  --color-alpa-secondary-50-80: #e6ceffcc;
  --color-alpa-success-100: #1be176;
  --color-alpa-success-100-10: #1be1761a;
  --color-alpa-success-100-40: #1be17666;
  --color-alpa-success-100-80: #1be176cc;
  --color-alpa-warning-100: #fdd835;
  --color-alpa-warning-100-10: #fdd8351a;
  --color-alpa-warning-100-40: #fdd83566;
  --color-alpa-warning-100-80: #fdd835cc;
  --color-king-error-100: #db2f00;
  --color-king-error-100-10: #db2f001a;
  --color-king-error-100-40: #db2f0066;
  --color-king-error-100-80: #db2f00cc;
  --color-king-neutral-100: #f2f2f5;
  --color-king-neutral-200: #d4d4d8;
  --color-king-neutral-200-10: #d4d4d81a;
  --color-king-neutral-200-40: #d4d4d866;
  --color-king-neutral-200-80: #d4d4d8cc;
  --color-king-neutral-300: #a1a1aa;
  --color-king-neutral-300-10: #a1a1aa1a;
  --color-king-neutral-300-40: #a1a1aa66;
  --color-king-neutral-300-80: #a1a1aacc;
  --color-king-neutral-400: #71717a;
  --color-king-neutral-400-10: #71717a1a;
  --color-king-neutral-400-40: #71717a66;
  --color-king-neutral-400-80: #71717acc;
  --color-king-neutral-50: #f8f7fa;
  --color-king-neutral-500: #52525b;
  --color-king-neutral-500-10: #52525b1a;
  --color-king-neutral-500-40: #52525b66;
  --color-king-neutral-500-80: #52525bcc;
  --color-king-neutral-600: #3f3f46;
  --color-king-neutral-600-10: #3f3f461a;
  --color-king-neutral-600-40: #3f3f4666;
  --color-king-neutral-600-80: #3f3f46cc;
  --color-king-neutral-700: #27272a;
  --color-king-neutral-700-10: #27272a1a;
  --color-king-neutral-700-40: #27272a66;
  --color-king-neutral-700-80: #27272acc;
  --color-king-neutral-800: #18181b;
  --color-king-neutral-800-10: #18181b1a;
  --color-king-neutral-800-40: #18181b66;
  --color-king-neutral-800-80: #18181bcc;
  --color-king-primary-100: #c9c9ff;
  --color-king-primary-100-40: #c9c9ff66;
  --color-king-primary-100-80: #c9c9ffcc;
  --color-king-primary-200: #5050fe;
  --color-king-primary-200-40: #5050fe66;
  --color-king-primary-200-80: #5050fecc;
  --color-king-primary-300: #4a47ea;
  --color-king-primary-300-40: #4a47ea66;
  --color-king-primary-300-80: #4a47eacc;
  --color-king-primary-400: #0000a0;
  --color-king-primary-400-40: #0000a066;
  --color-king-primary-400-80: #0000a0cc;
  --color-king-primary-50: #e9eaff;
  --color-king-primary-50-40: #e9eaff66;
  --color-king-primary-50-80: #e9eaffcc;
  --color-king-primary-500: #000076;
  --color-king-primary-500-40: #00007666;
  --color-king-primary-500-80: #000076cc;
  --color-king-secondary-100: #aff6fe;
  --color-king-secondary-100-40: #aff6fe66;
  --color-king-secondary-100-80: #aff6fecc;
  --color-king-secondary-200: #82f1fd;
  --color-king-secondary-200-40: #82f1fd66;
  --color-king-secondary-200-80: #82f1fdcc;
  --color-king-secondary-300: #5eedfd;
  --color-king-secondary-300-40: #5eedfd66;
  --color-king-secondary-300-80: #5eedfdcc;
  --color-king-secondary-400: #20e6fc;
  --color-king-secondary-400-40: #20e6fc66;
  --color-king-secondary-400-80: #20e6fccc;
  --color-king-secondary-50: #d7fafe;
  --color-king-secondary-50-40: #d7fafe66;
  --color-king-secondary-50-80: #d7fafecc;
  --color-king-success-100: #00b63d;
  --color-king-success-100-10: #00b63d1a;
  --color-king-success-100-40: #00b63d66;
  --color-king-success-100-80: #00b63dcc;
  --color-king-warning-100: #ff7049;
  --color-king-warning-100-10: #ff70491a;
  --color-king-warning-100-40: #ff704966;
  --color-king-warning-100-80: #ff7049cc;
  /* number */
  --opacity-15: 0.9375rem;
  --opacity-25: 1.5625rem;
  --opacity-35: 2.1875rem;
  --opacity-45: 2.8125rem;
  --opacity-55: 3.4375rem;
  --opacity-65: 4.0625rem;
  --opacity-75: 4.6875rem;
  --opacity-85: 5.3125rem;
  --radius-0: 0rem;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-full: 624.9375rem;
  --spacing-0: 0rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
}
[data-theme="king"] {
  /* number */
  --text-body-letterspacing: -0.0125rem;
  --text-body-fontsize: 1rem;
  --text-body-lineheight: 1.375rem;
  --text-body-sm-letterspacing: -0.0125rem;
  --text-body-sm-fontsize: 0.875rem;
  --text-body-sm-lineheight: 1.25rem;
  --text-button-caption-letterspacing: -0.025rem;
  --text-button-caption-fontsize: 0.875rem;
  --text-button-caption-fontweight: 400;
  --text-button-label-letterspacing: -0.0063rem;
  --text-button-label-fontweight: 600;
  --text-button-label-lg-fontsize: 1.125rem;
  --text-button-label-md-fontsize: 1rem;
  --text-button-label-sm-fontsize: 0.875rem;
  --text-button-label-xl-fontsize: 1.25rem;
  --text-button-label-xs-fontsize: 0.75rem;
  --text-button-label-xs-lineheight: 0.875rem;
  --text-caption-letterspacing: -0.0125rem;
  --text-caption-fontsize: 0.75rem;
  --text-caption-lineheight: 1rem;
  --text-fontweight-normal: 400;
  --text-fontweight-medium: 600;
  --text-fontweight-bold: 700;
  --text-letterspacing-caps: 0.0562rem;
  --text-paragraphspacing-body: 0.5rem;
  --text-subtitle-letterspacing: -0.0125rem;
  --text-subtitle-fontsize: 1rem;
  --text-subtitle-lineheight: 1.25rem;
  --text-subtitle-fontweight: 700;
  --text-tiny-letterspacing: -0.0125rem;
  --text-tiny-fontsize: 0.625rem;
  --text-tiny-lineheight: 0.625rem;
  --text-title-fontweight: 700;
  /* string */
  --text-fontfamily: Poppins;
}
[data-theme="king-mob"] {
  /* number */
  --text-title-display-letterspacing: -0.0313rem;
  --text-title-display-fontsize: 1.875rem;
  --text-title-display-lineheight: 2.125rem;
  --text-title-lg-letterspacing: -0.0094rem;
  --text-title-lg-fontsize: 1.5rem;
  --text-title-lg-lineheight: 1.75rem;
  --text-title-md-letterspacing: -0.0031rem;
  --text-title-md-fontsize: 1.25rem;
  --text-title-md-lineheight: 1.5rem;
  --text-title-sm-letterspacing: 0rem;
  --text-title-sm-fontsize: 1.125rem;
  --text-title-sm-lineheight: 1.375rem;
}
[data-theme="king-desk"] {
  /* number */
  --text-title-display-letterspacing: -0.0425rem;
  --text-title-display-fontsize: 2.25rem;
  --text-title-display-lineheight: 2.5rem;
  --text-title-lg-letterspacing: -0.012rem;
  --text-title-lg-fontsize: 1.6875rem;
  --text-title-lg-lineheight: 2rem;
  --text-title-md-letterspacing: -0.0052rem;
  --text-title-md-fontsize: 1.375rem;
  --text-title-md-lineheight: 1.75rem;
  --text-title-sm-letterspacing: 0rem;
  --text-title-sm-fontsize: 1.1875rem;
  --text-title-sm-lineheight: 1.375rem;
}
[data-theme="king"] {
  /* number */
  --component-button-gap-action-sm: 0.375rem;
  --component-button-gap-caption-sm: 0.125rem;
  --component-button-gap-caption-lg: 0.25rem;
  --component-button-gap-caption-md: 0.25rem;
  --component-button-gap-slab-sm: 0.25rem;
  --component-button-gap-standard-md: 0.25rem;
  --component-button-gap-standard-sm: 0.25rem;
  --component-button-gap-standard-lg: 0.5rem;
  --component-button-height-action-sm: 3rem;
  --component-button-height-caption-sm: 3rem;
  --component-button-height-caption-md: 3.5rem;
  --component-button-height-caption-lg: 4rem;
  --component-button-height-slab-sm: 4rem;
  --component-button-height-standard-sm: 2rem;
  --component-button-height-standard-md: 2.5rem;
  --component-button-height-standard-lg: 3rem;
  --component-button-padding-x-caption-sm: 1rem;
  --component-button-padding-x-caption-lg: 1.5rem;
  --component-button-padding-x-caption-md: 1.5rem;
  --component-button-padding-x-slab-sm: 1rem;
  --component-button-padding-x-standard-md: 0.75rem;
  --component-button-padding-x-standard-sm: 0.75rem;
  --component-button-padding-x-standard-lg: 1rem;
  --component-button-padding-y-caption-lg: 0.25rem;
  --component-button-padding-y-caption-md: 0.25rem;
  --component-button-padding-y-caption-sm: 0.25rem;
  --component-button-padding-y-slab-sm: 0.25rem;
  --component-button-padding-y-standard-sm: 0.25rem;
  --component-button-padding-y-standard-md: 0.5rem;
  --component-button-padding-y-standard-lg: 0.75rem;
}
[data-theme="king"] {
  /* color */
  --bg-deep: var(--color-king-neutral-50);
  --bg-overlay: var(--color-king-neutral-200-80);
  --bg-surface: var(--color-white);
  --bg-surface-alt: var(--color-king-neutral-100);
  --component-accordion-default-bg: var(--color-white);
  --component-accordion-default-bordercolor: var(--color-king-neutral-800-10);
  --component-accordion-faq-default-bg: var(--color-king-neutral-100);
  --component-accordion-faq-default-bordercolor: var(--color-king-neutral-800-10);
  --component-accordion-faq-opened-bg: var(--color-king-primary-50-80);
  --component-accordion-faq-opened-bordercolor: var(--color-king-primary-100);
  --component-accordion-fg-primary: var(--fg-primary);
  --component-accordion-fg-secondary: var(--fg-secondary);
  --component-accordion-opened-bg: var(--color-king-primary-50-80);
  --component-accordion-opened-bordercolor: var(--color-king-primary-100);
  --component-badge-banner-bg: var(--color-king-neutral-800-80);
  --component-badge-banner-fg: var(--color-white);
  --component-badge-navigation-fg: var(--color-white);
  --component-badge-navigation-bg-default: var(--color-king-primary-300);
  --component-badge-navigation-bg-new: var(--color-king-error-100);
  --component-badge-neutral-bg: var(--color-king-neutral-800-10);
  --component-badge-neutral-fg: var(--color-king-neutral-800);
  --component-badge-personal-fg: var(--color-king-neutral-800);
  --component-badge-status-fg: var(--color-white);
  --component-badge-status-bg-error: var(--color-king-error-100);
  --component-badge-status-bg-success: var(--color-king-success-100);
  --component-badge-status-bg-warning: var(--color-king-warning-100);
  --component-badge-timer-bg: var(--color-king-neutral-800-10);
  --component-badge-timer-fg-primary: var(--color-king-neutral-800);
  --component-badge-timer-fg-secondary: var(--fg-secondary);
  --component-button-label: var(--color-king-neutral-800);
  --component-button-destructive-default-bg: var(--color-king-error-100);
  --component-button-destructive-default-fg: var(--color-white);
  --component-button-destructive-hover-bg: var(--color-king-error-100-80);
  --component-button-destructive-hover-fg: var(--color-king-neutral-50);
  --component-button-destructive-pressed-bg: var(--color-king-error-100);
  --component-button-destructive-pressed-fg: var(--color-king-neutral-50);
  --component-button-ghost-default-bg: var(--color-transparent);
  --component-button-ghost-default-fg: var(--color-king-neutral-600);
  --component-button-ghost-default-alt-fg: var(--color-king-neutral-600);
  --component-button-ghost-hover-bg: var(--color-king-neutral-200-80);
  --component-button-ghost-hover-fg: var(--color-king-neutral-700);
  --component-button-ghost-hover-alt-fg: var(--color-king-neutral-700);
  --component-button-ghost-pressed-bg: var(--color-king-neutral-300-40);
  --component-button-ghost-pressed-fg: var(--color-king-neutral-700);
  --component-button-ghost-pressed-alt-fg: var(--color-king-neutral-700);
  --component-button-primary-default-bg: var(--color-king-primary-300);
  --component-button-primary-default-fg: var(--color-white);
  --component-button-primary-hover-bg: var(--color-king-primary-200);
  --component-button-primary-hover-fg: var(--color-king-primary-50);
  --component-button-primary-pressed-bg: var(--color-king-primary-400);
  --component-button-primary-pressed-fg: var(--color-king-primary-50);
  --component-button-secondary-default-bg: var(--color-king-primary-50-40);
  --component-button-secondary-default-bordercolor: var(--color-king-primary-200-40);
  --component-button-secondary-default-fg: var(--color-king-primary-300);
  --component-button-secondary-hover-bg: var(--color-king-primary-50-40);
  --component-button-secondary-hover-bordercolor: var(--color-king-primary-200);
  --component-button-secondary-hover-fg: var(--color-king-primary-300);
  --component-button-secondary-pressed-bg: var(--color-king-primary-100-40);
  --component-button-secondary-pressed-bordercolor: var(--color-king-primary-300);
  --component-button-secondary-pressed-fg: var(--color-king-primary-300);
  --component-button-tertiary-default-bg: var(--color-king-neutral-800-10);
  --component-button-tertiary-default-fg: var(--color-king-neutral-600);
  --component-button-tertiary-default-alt-bg: var(--color-king-neutral-800-10);
  --component-button-tertiary-default-alt-bordercolor: var(--color-transparent);
  --component-button-tertiary-default-alt-fg: var(--color-king-neutral-600);
  --component-button-tertiary-hover-bg: var(--color-king-neutral-200-80);
  --component-button-tertiary-hover-fg: var(--color-king-neutral-700);
  --component-button-tertiary-hover-alt-bg: var(--color-king-neutral-200-80);
  --component-button-tertiary-hover-alt-fg: var(--color-king-neutral-700);
  --component-button-tertiary-pressed-bg: var(--color-king-neutral-300-40);
  --component-button-tertiary-pressed-fg: var(--color-king-neutral-700);
  --component-button-tertiary-pressed-alt-bg: var(--color-king-neutral-300-40);
  --component-button-tertiary-pressed-alt-fg: var(--color-king-neutral-700);
  --component-card-bg: var(--bg-surface);
  --component-card-alt-bg: var(--bg-surface-alt);
  --component-card-alt-bordercolor: var(--color-king-neutral-200-80);
  --component-card-fg-brand: var(--fg-brand);
  --component-card-fg-primary: var(--fg-primary);
  --component-card-fg-promo: var(--fg-status-warning);
  --component-card-fg-secondary: var(--fg-secondary);
  --component-card-fg-white: var(--color-white);
  --component-card-game-badge-bg-default: var(--color-king-neutral-100);
  --component-card-game-badge-bg-exclusive: var(--fg-brand);
  --component-card-game-badge-bg-favorites: var(--color-king-primary-50-80);
  --component-card-game-badge-bg-identifier: var(--color-king-secondary-200);
  --component-card-game-badge-bg-label: var(--bg-surface);
  --component-card-game-bg-bordercolor: var(--component-card-alt-bordercolor);
  --component-card-game-bg-card: var(--component-card-alt-bg);
  --component-card-game-bg-overlay: var(--color-king-neutral-200-80);
  --component-card-game-fg-exclusive: var(--color-white);
  --component-card-withdrawal-bg: var(--color-king-neutral-100);
  --component-card-withdrawal-bordercolor: var(--color-king-neutral-200-40);
  --component-chip-default-bg: var(--color-king-neutral-500-10);
  --component-chip-default-bordercolor: var(--color-transparent);
  --component-chip-default-fg: var(--color-king-neutral-500);
  --component-chip-hover-bg: var(--color-king-secondary-200-80);
  --component-chip-hover-fg: var(--color-king-neutral-500);
  --component-chip-selected-bg: var(--color-king-secondary-300);
  --component-chip-selected-fg: var(--color-king-neutral-600);
  --component-control-check: var(--color-white);
  --component-control-default: var(--color-king-neutral-400);
  --component-control-error: var(--fg-status-error);
  --component-control-selected: var(--color-king-primary-300);
  --component-control-segment-bg: var(--color-king-neutral-100);
  --component-control-segment-bordercolor: var(--color-king-neutral-200-40);
  --component-control-segment-default-fg: var(--color-king-neutral-400);
  --component-control-segment-selected-bg: var(--color-white);
  --component-control-segment-selected-fg: var(--color-king-neutral-800);
  --component-footer-bg-1: var(--bg-deep);
  --component-footer-bg-2: var(--bg-surface);
  --component-footer-bg-3: var(--color-king-neutral-200-40);
  --component-footer-fg-primary: var(--fg-primary);
  --component-footer-fg-secondary: var(--fg-secondary);
  --component-input-bg: var(--color-white);
  --component-input-bordercolor: var(--color-king-primary-200-40);
  --component-input-icon: var(--color-king-neutral-400);
  --component-input-label: var(--color-king-neutral-400);
  --component-input-message: var(--color-king-neutral-400);
  --component-input-placeholder: var(--color-king-neutral-300);
  --component-input-value: var(--color-king-neutral-600);
  --component-input-error-bordercolor: var(--color-king-error-100);
  --component-input-error-label: var(--color-king-error-100);
  --component-input-error-message: var(--color-king-error-100);
  --component-input-focus-bordercolor: var(--color-king-primary-300);
  --component-input-focus-label: var(--color-king-primary-300);
  --component-input-hover-bordercolor: var(--color-king-primary-400-40);
  --component-input-list-bg: var(--color-white);
  --component-input-list-hover: var(--color-king-neutral-100);
  --component-input-list-icon: var(--color-king-neutral-400);
  --component-input-list-selected: var(--color-king-neutral-200-40);
  --component-input-list-select-text-default: var(--color-king-neutral-500);
  --component-input-list-select-text-secondary: var(--color-king-neutral-400);
  --component-input-list-select-text-selected: var(--color-king-neutral-800);
  --component-input-list-suggest-text-default: var(--color-king-neutral-600);
  --component-input-list-suggest-text-secondary: var(--color-king-neutral-300);
  --component-modal-bg: var(--bg-surface);
  --component-modal-fg-primary: var(--fg-primary);
  --component-modal-fg-secondary: var(--fg-secondary);
  --component-navigation-active: var(--color-king-primary-300);
  --component-navigation-bg: var(--bg-surface);
  --component-navigation-default: var(--fg-secondary);
  --component-navigation-bottom-line: var(--color-king-primary-300);
  --component-navigation-nav-roll-bordercolor: var(--color-king-neutral-200-80);
  --component-navigation-nav-roll-bg-active: var(--color-king-primary-100-40);
  --component-navigation-nav-roll-bg-hover: var(--color-king-neutral-100);
  --component-navigation-nav-roll-fg-active: var(--color-king-primary-300);
  --component-navigation-nav-roll-fg-primary: var(--fg-primary);
  --component-navigation-nav-roll-fg-secondary: var(--fg-secondary);
  --component-navigation-user-fg-primary: var(--fg-primary);
  --component-navigation-user-fg-secondary: var(--fg-secondary);
  --component-notification-bg-error: var(--color-king-error-100);
  --component-notification-bg-neutral: var(--color-white);
  --component-notification-bg-success: var(--color-king-secondary-300);
  --component-notification-box-line: var(--color-white);
  --component-notification-box-secondary: var(--fg-secondary);
  --component-notification-fg-default: var(--color-king-neutral-800);
  --component-notification-fg-error: var(--color-white);
  --component-other-divider: var(--color-king-neutral-200-80);
  --component-other-list-counter: var(--color-king-neutral-200-40);
  --component-other-scroll: var(--color-king-neutral-300-80);
  --component-other-table-vip: var(--color-king-neutral-200-80);
  --component-popover-bg: var(--color-king-secondary-300);
  --component-popover-fg-primary: var(--fg-primary);
  --component-popover-fg-secondary: var(--fg-secondary);
  --component-popup-bg: var(--bg-surface);
  --component-popup-fg-primary: var(--fg-primary);
  --component-popup-fg-secondary: var(--fg-secondary);
  --component-popup-floating-menu-bg-active: var(--color-king-primary-100-40);
  --component-popup-floating-menu-bg-hover: var(--color-king-neutral-200-40);
  --component-popup-floating-menu-fg-active: var(--fg-brand);
  --component-progress-bg: var(--color-king-neutral-800-10);
  --component-progress-brand: var(--color-king-primary-300);
  --component-progress-default: var(--color-king-success-100);
  --component-progress-fg-primary: var(--fg-primary);
  --component-progress-fg-secondary: var(--fg-secondary);
  --component-sidebar-bg: var(--bg-deep);
  --component-sidebar-fg-primary: var(--fg-primary);
  --component-sidebar-fg-secondary: var(--fg-secondary);
  --component-tab-default-fg: var(--color-king-neutral-500);
  --component-tab-hover-bg: var(--color-king-neutral-400-10);
  --component-tab-hover-fg: var(--color-king-neutral-500);
  --component-tab-selected-bg: var(--color-king-neutral-700-10);
  --component-tab-selected-fg: var(--color-king-neutral-800);
  --component-tooltip-bg: var(--color-king-secondary-300);
  --component-tooltip-fg: var(--fg-primary);
  --effect-shadow-balance: #6d779c1a;
  --effect-shadow-cashboxamount: var(--color-king-neutral-600-80);
  --effect-shadow-default: var(--color-king-neutral-600-10);
  --effect-shadow-menu-bottom: #2f3a412e;
  --fg-brand: var(--color-king-primary-300);
  --fg-pending: var(--color-king-warning-100);
  --fg-primary: var(--color-king-neutral-800);
  --fg-secondary: var(--color-king-neutral-500);
  --fg-link-default: var(--color-king-primary-300);
  --fg-link-hover: var(--color-king-primary-400);
  --fg-link-underline-default: var(--color-king-primary-300-40);
  --fg-link-underline-hover: var(--color-king-primary-400);
  --fg-status-error: var(--color-king-error-100);
  --fg-status-success: var(--color-king-success-100);
  --fg-status-warning: var(--color-king-warning-100);
  --gradient-banner-color-1: #22264d;
  --gradient-banner-color-2: #141c33;
  --gradient-gr-1-color-1: #28f48b;
  --gradient-gr-1-color-2: #73ff70;
  --gradient-gr-2-color-1: #d0fffd;
  --gradient-gr-2-color-2: #bdf5ff;
  /* number */
  --radius-popover: var(--radius-8);
  --radius-tab: var(--radius-8);
  --radius-tooltip: var(--radius-8);
  --radius-accordion: var(--radius-12);
  --radius-chip: var(--radius-12);
  --radius-list: var(--radius-12);
  --radius-bottom-menu: var(--radius-16);
  --radius-sidebar: var(--radius-16);
  --radius-modal: var(--radius-24);
  --radius-popup: var(--radius-24);
  --radius-badge: var(--radius-full);
  --radius-progress: var(--radius-full);
  --radius-button-icon: var(--radius-12);
  --radius-button-slab: var(--radius-12);
  --radius-button-action: var(--radius-full);
  --radius-button-default-sm: var(--radius-8);
  --radius-button-default-lg: var(--radius-12);
  --radius-button-default-md: var(--radius-12);
  --radius-card-withdrawal: var(--radius-12);
  --radius-card-game: var(--radius-16);
  --radius-card-badge-favorites: var(--radius-32);
  --radius-card-badge-game: var(--radius-32);
  --radius-card-default-xs: var(--radius-8);
  --radius-card-default-s: var(--radius-12);
  --radius-card-default-m: var(--radius-16);
  --radius-card-default-l: var(--radius-24);
  --radius-floating-menu-menu-item: var(--radius-12);
  --radius-floating-menu-bg: var(--radius-16);
  --radius-input-sm: var(--radius-8);
  --radius-input-default: var(--radius-12);
  --radius-nav-roll-part: var(--radius-12);
  --radius-nav-roll-bg: var(--radius-16);
  --radius-notification-sm: var(--radius-8);
  --radius-notification-lg: var(--radius-16);
  --radius-segment-fg: var(--radius-4);
  --radius-segment-bg: var(--radius-8);
}