:root[data-product="alpa"] {
    /* Filtered from css.css by theme name */
    --color-black: rgb(0 0 0);
    --color-transparent: rgb(0 0 0 / 0);
    --color-white: rgb(255 255 255);
    --color-alpa-error-100: rgb(255 94 58);
    --color-alpa-error-100-10: rgb(255 94 58 / 0.1);
    --color-alpa-error-100-40: rgb(255 94 58 / 0.4);
    --color-alpa-error-100-80: rgb(255 94 58 / 0.8);
    --color-alpa-neutral-100: rgb(182 189 204);
    --color-alpa-neutral-100-10: rgb(182 189 204 / 0.1);
    --color-alpa-neutral-100-40: rgb(182 189 204 / 0.4);
    --color-alpa-neutral-100-80: rgb(182 189 204 / 0.8);
    --color-alpa-neutral-200: rgb(89 96 112);
    --color-alpa-neutral-200-10: rgb(89 96 112 / 0.1);
    --color-alpa-neutral-200-40: rgb(89 96 112 / 0.4);
    --color-alpa-neutral-200-80: rgb(89 96 112 / 0.8);
    --color-alpa-neutral-300: rgb(47 54 69);
    --color-alpa-neutral-300-10: rgb(47 54 69 / 0.1);
    --color-alpa-neutral-300-40: rgb(47 54 69 / 0.4);
    --color-alpa-neutral-300-80: rgb(47 54 69 / 0.8);
    --color-alpa-neutral-400: rgb(38 42 52);
    --color-alpa-neutral-400-10: rgb(38 42 52 / 0.1);
    --color-alpa-neutral-400-40: rgb(38 42 52 / 0.4);
    --color-alpa-neutral-400-80: rgb(38 42 52 / 0.8);
    --color-alpa-neutral-50: rgb(232 236 242);
    --color-alpa-neutral-50-10: rgb(232 236 242 / 0.1);
    --color-alpa-neutral-50-40: rgb(232 236 242 / 0.4);
    --color-alpa-neutral-50-80: rgb(232 236 242 / 0.8);
    --color-alpa-neutral-500: rgb(0 10 18);
    --color-alpa-neutral-500-10: rgb(0 10 18 / 0.1);
    --color-alpa-neutral-500-40: rgb(0 10 18 / 0.4);
    --color-alpa-neutral-500-80: rgb(0 10 18 / 0.8);
    --color-alpa-primary-100: rgb(255 255 123);
    --color-alpa-primary-100-10: rgb(255 255 123 / 0.1);
    --color-alpa-primary-100-40: rgb(255 255 123 / 0.4);
    --color-alpa-primary-100-80: rgb(255 255 123 / 0.8);
    --color-alpa-primary-200: rgb(255 209 73);
    --color-alpa-primary-200-10: rgb(255 209 73 / 0.1);
    --color-alpa-primary-200-40: rgb(255 209 73 / 0.4);
    --color-alpa-primary-200-80: rgb(255 209 73 / 0.8);
    --color-alpa-primary-300: rgb(253 216 53);
    --color-alpa-primary-300-10: rgb(253 216 53 / 0.1);
    --color-alpa-primary-300-40: rgb(253 216 53 / 0.4);
    --color-alpa-primary-300-80: rgb(253 216 53 / 0.8);
    --color-alpa-primary-400: rgb(255 160 0);
    --color-alpa-primary-400-10: rgb(255 160 0 / 0.1);
    --color-alpa-primary-400-40: rgb(255 160 0 / 0.4);
    --color-alpa-primary-400-80: rgb(255 160 0 / 0.8);
    --color-alpa-primary-50: rgb(255 255 173);
    --color-alpa-primary-50-10: rgb(255 255 173 / 0.1);
    --color-alpa-primary-50-40: rgb(255 255 173 / 0.4);
    --color-alpa-primary-50-80: rgb(255 255 173 / 0.8);
    --color-alpa-secondary-100: rgb(195 149 255);
    --color-alpa-secondary-100-10: rgb(195 149 255 / 0.1);
    --color-alpa-secondary-100-40: rgb(195 149 255 / 0.4);
    --color-alpa-secondary-100-80: rgb(195 149 255 / 0.8);
    --color-alpa-secondary-200: rgb(161 83 255);
    --color-alpa-secondary-200-10: rgb(161 83 255 / 0.1);
    --color-alpa-secondary-200-40: rgb(161 83 255 / 0.4);
    --color-alpa-secondary-200-80: rgb(161 83 255 / 0.8);
    --color-alpa-secondary-300: rgb(112 59 245);
    --color-alpa-secondary-300-10: rgb(112 59 245 / 0.1);
    --color-alpa-secondary-300-40: rgb(112 59 245 / 0.4);
    --color-alpa-secondary-300-80: rgb(112 59 245 / 0.8);
    --color-alpa-secondary-400: rgb(46 15 108);
    --color-alpa-secondary-400-10: rgb(46 15 108 / 0.1);
    --color-alpa-secondary-400-40: rgb(46 15 108 / 0.4);
    --color-alpa-secondary-400-80: rgb(46 15 108 / 0.8);
    --color-alpa-secondary-50: rgb(230 206 255);
    --color-alpa-secondary-50-10: rgb(230 206 255 / 0.1);
    --color-alpa-secondary-50-40: rgb(230 206 255 / 0.4);
    --color-alpa-secondary-50-80: rgb(230 206 255 / 0.8);
    --color-alpa-success-100: rgb(27 225 118);
    --color-alpa-success-100-10: rgb(27 225 118 / 0.1);
    --color-alpa-success-100-40: rgb(27 225 118 / 0.4);
    --color-alpa-success-100-80: rgb(27 225 118 / 0.8);
    --color-alpa-warning-100: rgb(253 216 53);
    --color-alpa-warning-100-10: rgb(253 216 53 / 0.1);
    --color-alpa-warning-100-40: rgb(253 216 53 / 0.4);
    --color-alpa-warning-100-80: rgb(253 216 53 / 0.8);

    --bg-deep: var(--color-alpa-neutral-500);
    --bg-surface: var(--color-alpa-neutral-400);
    --bg-surface-alt: var(--color-alpa-neutral-300);
    --content-status-error: var(--color-alpa-error-100);
    --content-status-success: var(--color-alpa-success-100);
    --content-status-warning: var(--color-alpa-warning-100);
    --content-text-link-default: var(--color-alpa-primary-200);
    --content-text-link-hover: var(--color-alpa-primary-300);
    --content-text-link-underline: var(--color-alpa-primary-50);
    --content-text-primary: var(--color-white);
    --content-text-secondary: var(--color-alpa-neutral-100);
}
