@tailwind base;

@layer base {
    :root[data-product="alpa"] {
        --font-family: 'Rubik', system-ui, sans-serif;
        /* number */
        --text-body-letterspacing: 0.0125rem;
        --text-body-fontsize: 1rem;
        --text-body-lineheight: 1.5rem;
        --text-body-sm-letterspacing: 0.0313rem;
        --text-body-sm-fontsize: 0.875rem;
        --text-body-sm-lineheight: 1.25rem;
        --text-button-caption-letterspacing: 0.0125rem;
        --text-button-caption-fontsize: 0.75rem;
        --text-button-caption-fontweight: 500;
        --text-button-label-letterspacing: -0.0125rem;
        --text-button-label-fontweight: 700;
        --text-button-label-lg-fontsize: 1.125rem;
        --text-button-label-md-fontsize: 1rem;
        --text-button-label-sm-fontsize: 0.875rem;
        --text-button-label-xl-fontsize: 1.25rem;
        --text-button-label-xs-fontsize: 0.75rem;
        --text-button-label-xs-lineheight: 0.875rem;
        --text-caption-letterspacing: 0.0125rem;
        --text-caption-fontsize: 0.75rem;
        --text-caption-lineheight: 1rem;
        --text-fontweight-normal: 400;
        --text-fontweight-medium: 600;
        --text-fontweight-bold: 700;
        --text-letterspacing-caps: 0.0313rem;
        --text-paragraphspacing-body: 0.75rem;
        --text-subtitle-letterspacing: 0rem;
        --text-subtitle-fontsize: 1rem;
        --text-subtitle-lineheight: 1.25rem;
        --text-subtitle-fontweight: 700;
        --text-tiny-letterspacing: 0.025rem;
        --text-tiny-fontsize: 0.625rem;
        --text-tiny-lineheight: 0.625rem;
        --text-title-fontweight: 800;

        --text-title-display-letterspacing: -0.025rem;
        --text-title-display-fontsize: 2rem;
        --text-title-display-lineheight: 2.125rem;
        --text-title-lg-letterspacing: -0.0375rem;
        --text-title-lg-fontsize: 1.5rem;
        --text-title-lg-lineheight: 1.75rem;
        --text-title-md-letterspacing: -0.025rem;
        --text-title-md-fontsize: 1.25rem;
        --text-title-md-lineheight: 1.5rem;
        --text-title-sm-letterspacing: -0.0113rem;
        --text-title-sm-fontsize: 1.125rem;
        --text-title-sm-lineheight: 1.375rem;
    }

    @screen lg  {
        :root[data-product="alpa"] {
            --text-title-display-letterspacing: -0.0375rem;
            --text-title-display-fontsize: 3rem;
            --text-title-display-lineheight: 3.25rem;
            --text-title-lg-letterspacing: -0.05rem;
            --text-title-lg-fontsize: 2rem;
            --text-title-lg-lineheight: 2.125rem;
            --text-title-md-letterspacing: -0.0313rem;
            --text-title-md-fontsize: 1.5rem;
            --text-title-md-lineheight: 1.75rem;
            --text-title-sm-letterspacing: -0.0125rem;
            --text-title-sm-fontsize: 1.25rem;
            --text-title-sm-lineheight: 1.5rem;
        }
    }
}
