@tailwind base;

@layer base {
    :root[data-product="alpa"] {
        /* Base */
        --font-family: 'Rubik', system-ui, sans-serif;
        --text-fontweight-regular: 400;
        --text-fontweight-medium: 600;
        --text-fontweight-bold: 700;
        --text-title-fontweight: 800;
        --text-letterspacing-caps: .042em;
        --text-paragraphspacing-body: .75rem;

        /* Link colors */
        --color-text-link-default: #fdd835;
        --color-text-link-underline: rgba(253, 216, 53, .3);
        --color-text-link-active: rgba(182, 189, 204, .2);
        --color-text-link-contrast-default: #ffffff;
        --color-text-link-contrast-underline: rgba(182, 189, 204, .8);
        --color-text-link-contrast-active: rgba(182, 189, 204, .2);

        /* Body */
        --text-body-letterspacing: .01em;
        --text-body-fontsize: 1rem;
        --text-body-lineheight: 1.5rem;
        --text-body-sm-letterspacing: .036em;
        --text-body-sm-fontsize: .88rem;
        --text-body-sm-lineheight: 1.25rem;

        /* Buttons */
        --text-button-caption-letterspacing: .017em;
        --text-button-caption-fontsize: .75rem;
        --text-button-caption-fontweight: 500;
        --text-button-label-letterspacing: -.013em;
        --text-button-label-fontweight: 700;
        --text-button-label-lg-fontsize: 1.13rem;
        --text-button-label-md-fontsize: 1rem;
        --text-button-label-sm-fontsize: .88rem;
        --text-button-label-xl-fontsize: 1.25rem;
        --text-button-label-xs-fontsize: .75rem;
        --text-button-label-xs-lineheight: .88rem;

        /* Caption */
        --text-caption-letterspacing: .017em;
        --text-caption-fontsize: .75rem;
        --text-caption-lineheight: 1rem;

        /* Subtitle */
        --text-subtitle-letterspacing: 0;
        --text-subtitle-fontsize: 1rem;
        --text-subtitle-lineheight: 1.25rem;
        --text-subtitle-fontweight: 700;

        /* Tiny */
        --text-tiny-letterspacing: .04em;
        --text-tiny-fontsize: .63rem;
        --text-tiny-lineheight: .63rem;

        /* Titles */
        --text-title-display-letterspacing: -.013em;
        --text-title-display-fontsize: 2rem;
        --text-title-display-lineheight: 2.13rem;
        --text-title-lg-letterspacing: -.025em;
        --text-title-lg-fontsize: 1.5rem;
        --text-title-lg-lineheight: 1.75rem;
        --text-title-md-letterspacing: -.02em;
        --text-title-md-fontsize: 1.25rem;
        --text-title-md-lineheight: 1.5rem;
        --text-title-sm-letterspacing: -.01em;
        --text-title-sm-fontsize: 1.13rem;
        --text-title-sm-lineheight: 1.38rem;
    }

    @screen lg  {
        :root[data-product="alpa"] {
            --text-title-display-letterspacing: -.013em;
            --text-title-display-fontsize: 3rem;
            --text-title-display-lineheight: 3.25rem;
            --text-title-lg-letterspacing: -.025em;
            --text-title-lg-fontsize: 2rem;
            --text-title-lg-lineheight: 2.13rem;
            --text-title-md-letterspacing: -.021em;
            --text-title-md-fontsize: 1.5rem;
            --text-title-md-lineheight: 1.75rem;
            --text-title-sm-letterspacing: -.01em;
            --text-title-sm-fontsize: 1.25rem;
            --text-title-sm-lineheight: 1.5rem;
        }
    }
}
