:root[data-product="king"] {
    /* Filtered from css.css by theme name */
    --color-black: 0 0 0;
    --color-transparent: rgb(0 0 0 / 0);
    --color-white: 255 255 255;
    --color-error-100: 219 47 0;
    --color-error-100-10: rgb(219 47 0 / 0.1);
    --color-error-100-40: rgb(219 47 0 / 0.4);
    --color-error-100-80: rgb(219 47 0 / 0.8);
    --color-neutral-100: 242 242 245;
    --color-neutral-200: 212 212 216;
    --color-neutral-200-10: rgb(212 212 216 / 0.1);
    --color-neutral-200-40: rgb(212 212 216 / 0.4);
    --color-neutral-200-80: rgb(212 212 216 / 0.8);
    --color-neutral-300: 161 161 170 ;
    --color-neutral-300-10: rgb(161 161 170 / 0.1);
    --color-neutral-300-40: rgb(161 161 170 / 0.4);
    --color-neutral-300-80: rgb(161 161 170 / 0.8);
    --color-neutral-400: 113 113 122;
    --color-neutral-400-10: rgb(113 113 122 / 0.1);
    --color-neutral-400-40: rgb(113 113 122 / 0.4);
    --color-neutral-400-80: rgb(113 113 122 / 0.8);
    --color-neutral-50: 248 247 250;
    --color-neutral-500: 82 82 91;
    --color-neutral-500-10: rgb(82 82 91 / 0.1);
    --color-neutral-500-40: rgb(82 82 91 / 0.4);
    --color-neutral-500-80: rgb(82 82 91 / 0.8);
    --color-neutral-600: 63 63 70;
    --color-neutral-600-10: rgb(63 63 70 / 0.1);
    --color-neutral-600-40: rgb(63 63 70 / 0.4);
    --color-neutral-600-80: rgb(63 63 70 / 0.8);
    --color-neutral-700: 39 39 42;
    --color-neutral-700-10: rgb(39 39 42 / 0.1);
    --color-neutral-700-40: rgb(39 39 42 / 0.4);
    --color-neutral-700-80: rgb(39 39 42 / 0.8);
    --color-neutral-800: 24 24 27;
    --color-neutral-800-10: rgb(24 24 27 / 0.1);
    --color-neutral-800-40: rgb(24 24 27 / 0.4);
    --color-neutral-800-80: rgb(24 24 27 / 0.8);
    --color-primary-100: 201 201 255;
    --color-primary-100-40: rgb(201 201 255 / 0.4);
    --color-primary-100-80: rgb(201 201 255 / 0.8);
    --color-primary-200: 80 80 254;
    --color-primary-200-40: rgb(80 80 254 / 0.4);
    --color-primary-200-80: rgb(80 80 254 / 0.8);
    --color-primary-300: 74 71 234;
    --color-primary-300-40: rgb(74 71 234 / 0.4);
    --color-primary-300-80: rgb(74 71 234 / 0.8);
    --color-primary-400: 0 0 160;
    --color-primary-400-40: rgb(0 0 160 / 0.4);
    --color-primary-400-80: rgb(0 0 160 / 0.8);
    --color-primary-50: 233 234 255;
    --color-primary-50-40: rgb(233 234 255 / 0.4);
    --color-primary-50-80: rgb(233 234 255 / 0.8);
    --color-primary-500: 0 0 118;
    --color-primary-500-40: rgb(0 0 118 / 0.4);
    --color-primary-500-80: rgb(0 0 118 / 0.8);
    --color-secondary-100: 175 246 254;
    --color-secondary-100-40: rgb(175 246 254 / 0.4);
    --color-secondary-100-80: rgb(175 246 254 / 0.8);
    --color-secondary-200: 130 241 253;
    --color-secondary-200-40: rgb(130 241 253 / 0.4);
    --color-secondary-200-80: rgb(130 241 253 / 0.8);
    --color-secondary-300: 94 237 253;
    --color-secondary-300-40: rgb(94 237 253 / 0.4);
    --color-secondary-300-80: rgb(94 237 253 / 0.8);
    --color-secondary-400: 32 230 252;
    --color-secondary-400-40: rgb(32 230 252 / 0.4);
    --color-secondary-400-80: rgb(32 230 252 / 0.8);
    --color-secondary-50: 215 250 254;
    --color-secondary-50-40: rgb(215 250 254 / 0.4);
    --color-secondary-50-80: rgb(215 250 254 / 0.8);
    --color-success-100: 0 182 61;
    --color-success-100-10: rgb(0 182 61 / 0.1);
    --color-success-100-40: rgb(0 182 61 / 0.4);
    --color-success-100-80: rgb(0 182 61 / 0.8);
    --color-warning-100: 255 112 73;
    --color-warning-100-10: rgb(255 112 73 / 0.1);
    --color-warning-100-40: rgb(255 112 73 / 0.4);
    --color-warning-100-80: rgb(255 112 73 / 0.8);


    --bg-deep: rgb(var(--color-neutral-50));
    --bg-surface: rgb(var(--color-white));
    --bg-surface-alt: var(--color-neutral-500-10);
    --fg-brand: rgb(var(--color-primary-300));
    --fg-pending: rgb(var(--color-warning-100));
    --fg-primary: rgb(var(--color-neutral-800));
    --fg-secondary: rgb(var(--color-neutral-500));
    --fg-link-default: rgb(var(--color-primary-300));
    --fg-link-hover: rgb(var(--color-primary-400));
    --fg-link-underline-default: var(--color-primary-300-40);
    --fg-link-underline-hover: rgb(var(--color-primary-400));
    --fg-status-error: rgb(var(--color-error-100));
    --fg-status-success: rgb(var(--color-success-100));
    --fg-status-warning: rgb(var(--color-warning-100));
}