:root[data-product="alpa"] {
    /* Filtered from css.css by theme name */
    --color-black: rgb(0 0 0);
    --color-transparent: rgb(0 0 0 / 0);
    --color-white: rgb(255 255 255);
    --color-error-100: 255 94 58;
    --color-error-100-10: rgb(255 94 58 / 0.1);
    --color-error-100-40: rgb(255 94 58 / 0.4);
    --color-error-100-80: rgb(255 94 58 / 0.8);
    --color-neutral-100: 182 189 204;
    --color-neutral-100-10: rgb(182 189 204 / 0.1);
    --color-neutral-100-40: rgb(182 189 204 / 0.4);
    --color-neutral-100-80: rgb(182 189 204 / 0.8);
    --color-neutral-200: 89 96 112;
    --color-neutral-200-10: rgb(89 96 112 / 0.1);
    --color-neutral-200-40: rgb(89 96 112 / 0.4);
    --color-neutral-200-80: rgb(89 96 112 / 0.8);
    --color-neutral-300: 47 54 69;
    --color-neutral-300-10: rgb(47 54 69 / 0.1);
    --color-neutral-300-40: rgb(47 54 69 / 0.4);
    --color-neutral-300-80: rgb(47 54 69 / 0.8);
    --color-neutral-400: 38 42 52;
    --color-neutral-400-10: rgb(38 42 52 / 0.1);
    --color-neutral-400-40: rgb(38 42 52 / 0.4);
    --color-neutral-400-80: rgb(38 42 52 / 0.8);
    --color-neutral-50: 232 236 242;
    --color-neutral-50-10: rgb(232 236 242 / 0.1);
    --color-neutral-50-40: rgb(232 236 242 / 0.4);
    --color-neutral-50-80: rgb(232 236 242 / 0.8);
    --color-neutral-500: 0 10 18;
    --color-neutral-500-10: rgb(0 10 18 / 0.1);
    --color-neutral-500-40: rgb(0 10 18 / 0.4);
    --color-neutral-500-80: rgb(0 10 18 / 0.8);
    --color-primary-100: 255 255 123;
    --color-primary-100-10: rgb(255 255 123 / 0.1);
    --color-primary-100-40: rgb(255 255 123 / 0.4);
    --color-primary-100-80: rgb(255 255 123 / 0.8);
    --color-primary-200: 255 209 73;
    --color-primary-200-10: rgb(255 209 73 / 0.1);
    --color-primary-200-40: rgb(255 209 73 / 0.4);
    --color-primary-200-80: rgb(255 209 73 / 0.8);
    --color-primary-300: 253 216 53;
    --color-primary-300-10: rgb(253 216 53 / 0.1);
    --color-primary-300-40: rgb(253 216 53 / 0.4);
    --color-primary-300-80: rgb(253 216 53 / 0.8);
    --color-primary-400: 255 160 0;
    --color-primary-400-10: rgb(255 160 0 / 0.1);
    --color-primary-400-40: rgb(255 160 0 / 0.4);
    --color-primary-400-80: rgb(255 160 0 / 0.8);
    --color-primary-50: 255 255 173;
    --color-primary-50-10: rgb(255 255 173 / 0.1);
    --color-primary-50-40: rgb(255 255 173 / 0.4);
    --color-primary-50-80: rgb(255 255 173 / 0.8);
    --color-secondary-100: 195 149 255;
    --color-secondary-100-10: rgb(195 149 255 / 0.1);
    --color-secondary-100-40: rgb(195 149 255 / 0.4);
    --color-secondary-100-80: rgb(195 149 255 / 0.8);
    --color-secondary-200: 161 83 255;
    --color-secondary-200-10: rgb(161 83 255 / 0.1);
    --color-secondary-200-40: rgb(161 83 255 / 0.4);
    --color-secondary-200-80: rgb(161 83 255 / 0.8);
    --color-secondary-300: 112 59 245;
    --color-secondary-300-10: rgb(112 59 245 / 0.1);
    --color-secondary-300-40: rgb(112 59 245 / 0.4);
    --color-secondary-300-80: rgb(112 59 245 / 0.8);
    --color-secondary-400: 46 15 108;
    --color-secondary-400-10: rgb(46 15 108 / 0.1);
    --color-secondary-400-40: rgb(46 15 108 / 0.4);
    --color-secondary-400-80: rgb(46 15 108 / 0.8);
    --color-secondary-50: 230 206 255;
    --color-secondary-50-10: rgb(230 206 255 / 0.1);
    --color-secondary-50-40: rgb(230 206 255 / 0.4);
    --color-secondary-50-80: rgb(230 206 255 / 0.8);
    --color-success-100: 27 225 118;
    --color-success-100-10: rgb(27 225 118 / 0.1);
    --color-success-100-40: rgb(27 225 118 / 0.4);
    --color-success-100-80: rgb(27 225 118 / 0.8);
    --color-warning-100: 253 216 53;
    --color-warning-100-10: rgb(253 216 53 / 0.1);
    --color-warning-100-40: rgb(253 216 53 / 0.4);
    --color-warning-100-80: rgb(253 216 53 / 0.8);

    --bg-deep: var(--color-neutral-500);
    --bg-surface: var(--color-neutral-400);
    --bg-surface-alt: var(--color-neutral-300);
    --fg-brand: var(--color-primary-300);
    --fg-pending: var(--color-warning-100);
    --fg-primary: var(--color-white);
    --fg-secondary: var(--color-neutral-100);
    --fg-link-default: var(--color-primary-300);
    --fg-link-hover: var(--color-primary-400);
    --fg-link-underline-default: var(--color-primary-300-40);
    --fg-link-underline-hover: var(--color-primary-400);
    --fg-status-error: var(--color-error-100);
    --fg-status-success: var(--color-success-100);
    --fg-status-warning: var(--color-warning-100);
    --component-other-scroll: var(--color-neutral-200-80);
}
