:root[data-product="king"] {
    /* Filtered from css.css by theme name */
    --color-black: rgb(0 0 0);
    --color-transparent: rgb(0 0 0 / 0);
    --color-white: rgb(255 255 255);
    --color-king-error-100: rgb(219 47 0);
    --color-king-error-100-10: rgb(219 47 0 / 0.1);
    --color-king-error-100-40: rgb(219 47 0 / 0.4);
    --color-king-error-100-80: rgb(219 47 0 / 0.8);
    --color-king-neutral-100: rgb(242 242 245);
    --color-king-neutral-200: rgb(212 212 216);
    --color-king-neutral-200-10: rgb(212 212 216 / 0.1);
    --color-king-neutral-200-40: rgb(212 212 216 / 0.4);
    --color-king-neutral-200-80: rgb(212 212 216 / 0.8);
    --color-king-neutral-300: rgb(161 161 170);
    --color-king-neutral-300-10: rgb(161 161 170 / 0.1);
    --color-king-neutral-300-40: rgb(161 161 170 / 0.4);
    --color-king-neutral-300-80: rgb(161 161 170 / 0.8);
    --color-king-neutral-400: rgb(113 113 122);
    --color-king-neutral-400-10: rgb(113 113 122 / 0.1);
    --color-king-neutral-400-40: rgb(113 113 122 / 0.4);
    --color-king-neutral-400-80: rgb(113 113 122 / 0.8);
    --color-king-neutral-50: rgb(248 247 250);
    --color-king-neutral-500: rgb(82 82 91);
    --color-king-neutral-500-10: rgb(82 82 91 / 0.1);
    --color-king-neutral-500-40: rgb(82 82 91 / 0.4);
    --color-king-neutral-500-80: rgb(82 82 91 / 0.8);
    --color-king-neutral-600: rgb(63 63 70);
    --color-king-neutral-600-10: rgb(63 63 70 / 0.1);
    --color-king-neutral-600-40: rgb(63 63 70 / 0.4);
    --color-king-neutral-600-80: rgb(63 63 70 / 0.8);
    --color-king-neutral-700: rgb(39 39 42);
    --color-king-neutral-700-10: rgb(39 39 42 / 0.1);
    --color-king-neutral-700-40: rgb(39 39 42 / 0.4);
    --color-king-neutral-700-80: rgb(39 39 42 / 0.8);
    --color-king-neutral-800: rgb(24 24 27);
    --color-king-neutral-800-10: rgb(24 24 27 / 0.1);
    --color-king-neutral-800-40: rgb(24 24 27 / 0.4);
    --color-king-neutral-800-80: rgb(24 24 27 / 0.8);
    --color-king-primary-100: rgb(201 201 255);
    --color-king-primary-100-40: rgb(201 201 255 / 0.4);
    --color-king-primary-100-80: rgb(201 201 255 / 0.8);
    --color-king-primary-200: rgb(80 80 254);
    --color-king-primary-200-40: rgb(80 80 254 / 0.4);
    --color-king-primary-200-80: rgb(80 80 254 / 0.8);
    --color-king-primary-300: rgb(74 71 234);
    --color-king-primary-300-40: rgb(74 71 234 / 0.4);
    --color-king-primary-300-80: rgb(74 71 234 / 0.8);
    --color-king-primary-400: rgb(0 0 160);
    --color-king-primary-400-40: rgb(0 0 160 / 0.4);
    --color-king-primary-400-80: rgb(0 0 160 / 0.8);
    --color-king-primary-50: rgb(233 234 255);
    --color-king-primary-50-40: rgb(233 234 255 / 0.4);
    --color-king-primary-50-80: rgb(233 234 255 / 0.8);
    --color-king-primary-500: rgb(0 0 118);
    --color-king-primary-500-40: rgb(0 0 118 / 0.4);
    --color-king-primary-500-80: rgb(0 0 118 / 0.8);
    --color-king-secondary-100: rgb(175 246 254);
    --color-king-secondary-100-40: rgb(175 246 254 / 0.4);
    --color-king-secondary-100-80: rgb(175 246 254 / 0.8);
    --color-king-secondary-200: rgb(130 241 253);
    --color-king-secondary-200-40: rgb(130 241 253 / 0.4);
    --color-king-secondary-200-80: rgb(130 241 253 / 0.8);
    --color-king-secondary-300: rgb(94 237 253);
    --color-king-secondary-300-40: rgb(94 237 253 / 0.4);
    --color-king-secondary-300-80: rgb(94 237 253 / 0.8);
    --color-king-secondary-400: rgb(32 230 252);
    --color-king-secondary-400-40: rgb(32 230 252 / 0.4);
    --color-king-secondary-400-80: rgb(32 230 252 / 0.8);
    --color-king-secondary-50: rgb(215 250 254);
    --color-king-secondary-50-40: rgb(215 250 254 / 0.4);
    --color-king-secondary-50-80: rgb(215 250 254 / 0.8);
    --color-king-success-100: rgb(0 182 61);
    --color-king-success-100-10: rgb(0 182 61 / 0.1);
    --color-king-success-100-40: rgb(0 182 61 / 0.4);
    --color-king-success-100-80: rgb(0 182 61 / 0.8);
    --color-king-warning-100: rgb(255 112 73);
    --color-king-warning-100-10: rgb(255 112 73 / 0.1);
    --color-king-warning-100-40: rgb(255 112 73 / 0.4);
    --color-king-warning-100-80: rgb(255 112 73 / 0.8);


    --bg-deep: var(--color-king-neutral-50);
    --bg-surface: var(--color-white);
    --bg-surface-alt: var(--color-king-neutral-500-10);
    --content-status-error: var(--color-king-error-100);
    --content-status-success: var(--color-king-success-100);
    --content-status-warning: var(--color-king-warning-100);
    --content-text-link-default: var(--color-king-primary-300);
    --content-text-link-hover: var(--color-king-primary-400);
    --content-text-link-underline: var(--color-king-primary-100);
    --content-text-primary: var(--color-king-neutral-800);
    --content-text-secondary: var(--color-king-neutral-500);
}
