:root[data-product="king"] {
    --neutral-50: 248, 247, 250;
    --neutral-100: 242, 242, 245;
    --neutral-200: 242, 246, 250;
    --neutral-300: 212, 212, 216;
    --neutral-400: 161, 161, 170;
    --neutral-500: 113, 113, 122;
    --neutral-600: 82, 82, 91;
    --neutral-700: 63, 63, 70;
    --neutral-800: 39, 39, 42;
    --neutral-900: 24, 24, 27;

    --primary-50: 233, 234, 255;
    --primary-100: 201, 201, 255;
    --primary-200: 80, 80, 254;
    --primary-300: 74, 71, 234;
    --primary-400: 36, 36, 255;
    --primary-500: 0, 0, 248;
    --primary-600: 0, 0, 160;
    --primary-700: 0, 0, 146;
    --primary-800: 0, 0, 118;
    --primary-900: 0, 1, 58;

    --secondary-50: 215, 250, 254;
    --secondary-100: 208, 255, 253;
    --secondary-200: 189, 245, 255;
    --secondary-300: 175, 246, 254;
    --secondary-400: 130, 241, 253;
    --secondary-500: 94, 237, 253;
    --secondary-600: 32, 230, 252;
    --secondary-700: 0, 184, 201;
    --secondary-800: 0, 139, 150;
    --secondary-900: 0, 71, 77;

    --error-100: 255, 241, 237;
    --error-200: 255, 179, 163;
    --error-300: 255, 122, 102;
    --error-400: 253, 76, 76;
    --error-500: 219, 47, 0;

    --success-50: 182, 255, 206;
    --success-100: 146, 255, 182;
    --success-200: 40, 244, 139;
    --success-300: 0, 219, 73;
    --success-400: 0, 182, 61;

    --warning-100: 255, 198, 182;
    --warning-200: 255, 155, 128;
    --warning-300: 255, 112, 73;
    --warning-400: 255, 84, 36;
}