:root[data-product="alpa"] {
    --component-badge-height: 1rem;
    --component-badge-padding-x: 0.5rem;
    --radius-badge: var(--radius-full);

    --component-badge-navigation-fg: var(--color-neutral-500);
    --component-badge-navigation-bg-default: var(--color-warning-100);
    --component-badge-navigation-bg-new: var(--color-error-100);
    --component-badge-neutral-bg: var(--color-neutral-300-80);
    --component-badge-neutral-fg: var(--color-white);
    --component-badge-personal-fg: var(--color-neutral-500);
    --component-badge-status-fg: var(--color-neutral-500);
    --component-badge-status-bg-error: var(--color-error-100);
    --component-badge-status-bg-success: var(--color-success-100);
    --component-badge-status-bg-warning: var(--color-warning-100);
    --component-badge-timer-bg: var(--color-neutral-300-80);
    --component-badge-timer-fg-primary: var(--color-white);
    --component-badge-timer-fg-secondary: var(--fg-secondary);
}
