:root[data-product="king"] {
    --radius-accordion: var(--radius-12);

    --component-accordion-default-bg: var(--color-white);
    --component-accordion-default-bordercolor: var(--color-neutral-800-10);
    --component-accordion-faq-default-bg: var(--color-neutral-100);
    --component-accordion-faq-default-bordercolor: var(--color-neutral-800-10);
    --component-accordion-faq-opened-bg: var(--color-primary-50-80);
    --component-accordion-faq-opened-bordercolor: var(--color-primary-100);
    --component-accordion-fg-primary: var(--fg-primary);
    --component-accordion-fg-secondary: var(--fg-secondary);
    --component-accordion-opened-bg: var(--color-primary-50-80);
    --component-accordion-opened-bordercolor: var(--color-primary-100);
}