:root[data-product="king"] {
    --component-badge-timer-fg: rgb(var(--color-neutral-800));
    --component-badge-timer-filled-bg: rgb(var(--color-neutral-100));
    --component-badge-timer-filled-fg: rgb(var(--color-neutral-800));
    --component-badge-timer-dot-start: rgb(var(--color-primary-300));
    --component-badge-timer-dot-finish: rgb(var(--color-success-100));
    --component-badge-timer-dot-over: rgb(var(--color-error-100));
}
