:root[data-product="king"] {
    --component-button-borderwidth-filled: 0rem;
    --component-button-borderwidth-soft: 0rem;
    --component-button-borderwidth-elevated: 0.125rem;
    --component-button-borderwidth-outline: 0.125rem;
    --component-button-gap-action-sm: 0.375rem;
    --component-button-gap-caption-sm: 0.125rem;
    --component-button-gap-caption-lg: 0.25rem;
    --component-button-gap-caption-md: 0.25rem;
    --component-button-gap-slab-sm: 0.25rem;
    --component-button-gap-standard-md: 0.25rem;
    --component-button-gap-standard-sm: 0.25rem;
    --component-button-gap-standard-lg: 0.5rem;
    --component-button-height-action-sm: 3rem;
    --component-button-height-caption-sm: 3rem;
    --component-button-height-caption-md: 3.5rem;
    --component-button-height-caption-lg: 4rem;
    --component-button-height-slab-sm: 3.5rem;
    --component-button-height-standard-sm: 2rem;
    --component-button-height-standard-md: 2.5rem;
    --component-button-height-standard-lg: 3rem;
    --component-button-width-action-sm: 3rem;
    --component-button-maxwidth-slab-sm: 9.5rem;
    --component-button-minwidth-slab-sm: 4.5rem;
    --component-button-minwidth-standard-sm: 4rem;
    --component-button-minwidth-standard-lg: 6rem;
    --component-button-minwidth-standard-md: 6rem;
    --component-button-opacity-caption: 5.3125rem;
    --component-button-padding-x-caption-sm: 1rem;
    --component-button-padding-x-caption-lg: 1.5rem;
    --component-button-padding-x-caption-md: 1.5rem;
    --component-button-padding-x-slab-sm: 1rem;
    --component-button-padding-x-standard-md: 0.5rem;
    --component-button-padding-x-standard-sm: 0.5rem;
    --component-button-padding-x-standard-lg: 0.875rem;
    --component-button-padding-y-caption-lg: 0.25rem;
    --component-button-padding-y-caption-md: 0.25rem;
    --component-button-padding-y-caption-sm: 0.25rem;
    --component-button-padding-y-slab-sm: 0.25rem;
    --component-button-padding-y-standard-sm: 0.25rem;
    --component-button-padding-y-standard-md: 0.5rem;
    --component-button-padding-y-standard-lg: 0.75rem;
    --component-button-radius-action-sm: 0.75rem;
    --component-button-radius-caption-sm: 0.5rem;
    --component-button-radius-caption-lg: 1rem;
    --component-button-radius-caption-md: 1rem;
    --component-button-radius-icon-sm: 0.5rem;
    --component-button-radius-icon-md: 0.75rem;
    --component-button-radius-icon-lg: 1rem;
    --component-button-radius-slab-sm: 0.5rem;
    --component-button-radius-standard-sm: 0.5rem;
    --component-button-radius-standard-md: 0.75rem;
    --component-button-radius-standard-lg: 1rem;

    --component-button-basic-primary-default-fg: var(--color-primary-200);
    --component-button-basic-primary-hover-fg: var(--color-primary-200);
    --component-button-basic-primary-pressed-fg: var(--color-primary-50);
    --component-button-filled-destructive-default-bg: var(--color-error-100);
    --component-button-filled-destructive-default-fg: var(--color-white);
    --component-button-filled-destructive-hover-bg: var(--color-error-100-80);
    --component-button-filled-destructive-hover-fg: var(--color-neutral-50);
    --component-button-filled-destructive-pressed-bg: var(--color-error-100);
    --component-button-filled-destructive-pressed-fg: var(--color-neutral-50);
    --component-button-filled-primary-default-bg: var(--color-primary-300);
    --component-button-filled-primary-default-fg: var(--color-white);
    --component-button-filled-primary-hover-bg: var(--color-primary-200);
    --component-button-filled-primary-hover-fg: var(--color-primary-50);
    --component-button-filled-primary-pressed-bg: var(--color-primary-400);
    --component-button-filled-primary-pressed-fg: var(--color-white);
    --component-button-ghost-neutral-default-bg: var(--color-transparent);
    --component-button-ghost-neutral-hover-bg: var(--color-neutral-200-80);
    --component-button-ghost-neutral-pressed-bg: var(--color-neutral-300-40);
    --component-button-outline-neutral-default-bg: var(--color-neutral-50);
    --component-button-outline-neutral-default-bordercolor: var(--color-neutral-200);
    --component-button-outline-neutral-hover-bg: var(--color-neutral-100);
    --component-button-outline-neutral-hover-bordercolor: var(--color-neutral-300);
    --component-button-outline-neutral-pressed-bg: var(--color-neutral-200-80);
    --component-button-outline-neutral-pressed-bordercolor: var(--color-neutral-400);
    --component-button-outline-primary-default-bg: var(--color-primary-50-40);
    --component-button-outline-primary-default-bordercolor: var(--color-primary-200-40);
    --component-button-outline-primary-default-fg: var(--color-primary-300);
    --component-button-outline-primary-hover-bg: var(--color-primary-50-40);
    --component-button-outline-primary-hover-bordercolor: var(--color-primary-200);
    --component-button-outline-primary-hover-fg: var(--color-primary-300);
    --component-button-outline-primary-pressed-bg: var(--color-primary-100-40);
    --component-button-outline-primary-pressed-bordercolor: var(--color-primary-300);
    --component-button-outline-primary-pressed-fg: var(--color-primary-300);
    --component-button-soft-neutral-default-bg: var(--color-neutral-50);
    --component-button-soft-neutral-hover-bg: var(--color-neutral-400-10);
    --component-button-soft-neutral-pressed-bg: var(--color-neutral-400-40);
    --component-button-soft-primary-default-bg: var(--color-primary-50);
    --component-button-soft-primary-hover-bg: var(--color-primary-100);
    --component-button-soft-primary-pressed-bg: var(--color-primary-200);



}
